<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/pdf-pub-tools/src/net/mitnet/tools/pdf/book/pdf/builder/ui/cli/PdfBookBuilderCLI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.mitnet.tools.pdf.book.pdf.builder.ui.cli.PdfBookBuilderCLI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-i /Users/tim.telcik/spool/docs/liferay-book/output -b /Users/tim.telcik/spool/docs/liferay-book/training-book.pdf -ps a4 -v"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="pdf-pub-tools"/>
</launchConfiguration>
